h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 auto;
  background-color: $bg-color;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

svg {
  fill: inherit;
  display: block;
}
