<section class="section products">
  <div class="container">
    <h2 class="products__title hidden"></h2>
    <div class="products__box">
      <div class="products__tumb">
        <img
          src="./images/recepts-desktop/x1/tomato.jpg"
          alt=""
          class="products__img"
        />
      </div>
      <div class="products__content">
        <h3 class="products__sub-title">Classic sauce</h3>
        <p class="products__text">
          The most delicate taste of tomatoes, combined with branded spices and
          white wine, will make your dish incredibly tasty.
        </p>
        <button class=".button products__btn" type="button">Buy now</button>
      </div>
    </div>
    <div class="products__box">
      <div class="products__tumb">
        <img
          src="./images/recepts-desktop/x1/cheele_2.jpg"
          alt=""
          class="products__img"
        />
      </div>
      <div class="products__content">
        <h3 class="products__sub-title">Spicy sauce</h3>
        <p class="products__text">
          For thrill-seekers, we added hot chili pepper to our sauce, it also
          reveals all the tastes and aromas of the sauce well.
        </p>
        <button class=".button products__btn" type="button">Buy now</button>
      </div>
    </div>
    <div class="products__box">
      <div class="products__tumb">
        <img
          src="./images/recepts-desktop/x1/ketchup-or-tomato-sauce-with-fresh-tomato_2.jpg"
          alt=""
          class="products__img"
        />
      </div>
      <div class="products__content">
        <h3 class="products__sub-title">Classic sauce</h3>
        <p class="products__text">
          The most delicate taste of tomatoes, combined with branded spices and
          white wine, will make your dish incredibly tasty.
        </p>
        <button class=".button products__btn" type="button">Buy now</button>
      </div>
    </div>
    <div class="products__box">
      <div class="products__tumb">
        <img
          src="./images/recepts-desktop/x1/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-black-stone-surface-top-view_1.jpg"
          alt=""
          class="products__img"
        />
      </div>
      <div class="products__content">
        <h3 class="products__sub-title">Spicy sauce</h3>
        <p class="products__text">
          For thrill-seekers, we added hot chili pepper to our sauce, it also
          reveals all the tastes and aromas of the sauce well.
        </p>
        <button class=".button products__btn" type="button">Buy now</button>
      </div>
    </div>
    <div class="products__box">
      <div class="products__tumb">
        <img
          src="./images/recepts-desktop/x1/ketchup-or-tomato-sauce-with-fresh-tomato_1.jpg"
          alt=""
          class="products__img"
        />
      </div>
      <div class="products__content">
        <h3 class="products__sub-title">Classic sauce</h3>
        <p class="products__text">
          The most delicate taste of tomatoes, combined with branded spices and
          white wine, will make your dish incredibly tasty.
        </p>
        <button class=".button products__btn" type="button">Buy now</button>
      </div>
    </div>
    <div class="products__box">
      <div class="products__tumb">
        <img
          src="./images/recepts-desktop/x1/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-stone-surface-top-view_1.jpg"
          alt=""
          class="products__img"
        />
      </div>
      <div class="products__content">
        <h3 class="products__sub-title">Spicy sauce</h3>
        <p class="products__text">
          For thrill-seekers, we added hot chili pepper to our sauce, it also
          reveals all the tastes and aromas of the sauce well.
        </p>
        <button class=".button products__btn" type="button">Buy now</button>
      </div>
    </div>
  </div>
</section>
