<section class="section section--recipes">
  <div class="container">
    <h2 class="hidden">Recipes</h2>
    <ul class="recipes__list">
      <li class="recipes__item">
        <iframe
          class="recipes__video"
          src="https://www.youtube.com/embed/JkYwSddTdew"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <h3 class="recipes__title">Bell pepper pasta</h3>
      </li>
      <li class="recipes__item">
        <iframe
          class="recipes__video"
          src="https://www.youtube.com/embed/nXE5IplkJI0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <h3 class="recipes__title">Tomato paste</h3>
      </li>
    </ul>
  </div>
</section>
