.container {
  margin: auto;

  @media screen and (min-width: 415px) and (max-width: 1019px) {
    padding: 0px 15px;
    width: 415px;
  }

  @media screen and (min-width: 1020px) and (max-width: 1279px) {
    padding: 0px 47px;
    width: 1020px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0px 85px;
    width: 1280px;
  }
}
