.section {
  margin: 0 auto;

  @media screen and (min-width: 415px) {
    margin: 0 auto;
    padding: 100px;
  }

  @media screen and (min-width: 1020px) {
    margin: 0 auto;
    padding: 100px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 auto;
    padding: 100px;
  }
}
