.page-footer {
  border-top: 1px solid #f3f3f3;

  &__logo {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;

    @media screen and(min-width:1020px) {
      gap: 16px;
      padding-top: 0;
      margin-right: 108px;
    }
  }

  &__tomato-logo {
    fill: $menu-color;
  }

  &__address-icon {
    fill: $menu-color;
  }

  &__agreement {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 8px;
    line-height: calc(17 / 8);

    @media screen and(min-width:1020px) {
      font-size: 14px;
      line-height: calc(17 / 14);
      margin-top: 44px;
    }
  }

  &__agreement-text {
    color: $footer-color;
  }

  &__agreement-rules {
    margin: 0 4px;
    text-decoration: underline;
    color: #ffffff;
  }
}

.info-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and(min-width:1020px) {
  }
}

.page-footer__info {
  @media screen and(min-width:1020px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__navigation-list {
  display: flex;
  gap: 20px;
  padding-top: 44px;
  @media screen and(min-width:1020px) {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    margin-right: 181px;
  }
}

.page-footer__adress-info {
  margin-top: 34px;
}

.page-footer__address-item {
  padding-bottom: 16px;
}

.page-footer__address-card {
  display: flex;
  align-items: center;
  @media screen and(min-width:1020px) {
    padding-bottom: 45px;
  }
}

.socials-list1 {
  display: flex;
  gap: 24px;
  padding-top: 54px;
  flex-direction: column;
  margin-left: auto;
}

.socials-list__item1 {
  display: flex;

  align-items: center;
  gap: 20px;
}

.socials-list__icon1 {
  @media screen and(min-width:1020px) {
    width: 150%;
    height: 150%;
  }
}

.page-footer__address-icon {
  margin-right: 10px;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: $hover-color;
}

// .page-footer__info {
//   @media screen and (min-width: 1080px) {
//     display: flex;
//     justify-content: space-between;
//   }
// }
